<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add a Flight</title>
    <!-- <link rel="stylesheet" href="{{url_for('static', filename='css/styles.css')}}"> For Flask Use when set up. -->
    <link rel="stylesheet" href="../static/css/style.css"> <!--For HTML setup without flask use-->
</head>
<body>
    <div class="banner">
        <h1 class="banner_title">Add Flight</h1>
        <div class="navButons">
            <a href="">All Flights</a>
            <a href="">All Carriers</a>
            <a href="/">Logout</a>
        </div>
    </div>
    <div class="bg_image image1">
        <div class="content">
            <form action="/flights/add" method="post"> 
                <fieldset class="form_box">
                    <legend class="legend_bg">New Flight</legend>
                    <div class="entries">
                        <div class="row">
                            <label for="number">Flight Number:</label>
                            <input type="number"  class="form-control" name="number">
                        </div>
                        <div class="row">
                            <label for="starting_city">Departure:</label>
                            <input type="text"  class="form-control" name="starting_city">
                        </div>
                        <div class="row">
                            <label for="ending_city">Destination:</label>
                            <input type="text" class="form-control" name="ending_city">
                        </div>
                        <div class="row">
                            <label for="carrier_id">Carrier:</label>
                            <select name="carrier_id">
                                {% for this_carrier in all_carriers %}
                                    <option value="{{ this_carrier.id }}">{{ this_carrier.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="form_button">
                        <button type="submit" id="add_button">Create flight</button>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</body>
</html>