<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add a Carrier</title>
    <!-- <link rel="stylesheet" href="{{url_for('static', filename='css/styles.css')}}"> For Flask Use when set up. -->
    <link rel="stylesheet" href="../static/css/style.css"> <!--For HTML setup without flask use-->
</head>
<body>
    <div class="banner">
        <h1 class="banner_title">Add Carrier</h1>
        <div class="navButons">
            <a href="">All Flights</a>
            <a href="">All Carriers</a>
            <a href="/">Logout</a>
        </div>
    </div>
    <div class="bg_image image1">
        <div class="content">
            <form action="/flights/add" method="post"> 
                <fieldset class="form_box">
                    <legend class="legend_bg">New Carrier</legend>
                    <div class="entries">
                        <div class="row">
                            <label for="name">Name:</label>
                            <input type="text" name="number">
                        </div>
                        <div class="row">
                            <label for="hq_city">Headquarters:</label>
                            <input type="text" name="hq_city">
                        </div>
                        <div class="row">
                            <label for="year_founded">Year Founded:</label>
                            <input type="text" name="year_founded">
                        </div>
                    </div>
                    <div class="form_button">
                        <button type="submit" id="add_button">Create Carrier</button>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</body>
</html>