<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Flight</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}"> <!--For Flask Use when set up.-->
    <!-- <link rel="stylesheet" href="../static/css/style.css"> For HTML setup without flask use -->
</head>
<body>
    <div class="banner">
        <h1 class="banner_title">Dojo Airlines</h1>
        <div class="navButons">
            <a href="">All Flights</a>
            <a href="">All Carriers</a>
            <a href="/">Logout</a>
        </div>
    </div>
    <div class="bg_image image1">
        <div class="content">
            <form action="/flights/{{one_flight.id}}/edit_in_db" method="post"> 
                <fieldset class="form_box">
                    <legend class="legend_bg">Update Flight</legend>
                    <div class="entries">
                        <div class="row">
                            <label for="number">Flight Number:</label>
                            <input type="number" name="number" value="{{one_flight.number}}">
                        </div>
                        <div class="row">
                            <label for="starting_city">Departure:</label>
                            <input type="text" name="starting_city" value="{{one_flight.starting_city}}">
                        </div>
                        <div class="row">
                            <label for="ending_city">Destination:</label>
                            <input type="text" name="ending_city" value="{{one_flight.ending_city}}">
                        </div>
                        <div class="row">
                            <label for="carrier_id">Carrier:</label>
                            <select name="carrier_id">
                                {% for this_carrier in all_carriers %}
                                    {% if this_carrier.id == one_flight.carrier.id %} <!-- if this carrier id is the same as the carrier of the flight, make it the select option -->
                                        <option value="{{ this_carrier.id }}" selected>{{ this_carrier.name }}</option>
                                    {% else %} <!-- otherwise, show it as it is without  it being selected. -->
                                        <option value="{{ this_carrier.id }}">{{ this_carrier.name }}</option>
                                    {% endif %}
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="form_button">
                        <button type="submit" id="add_button">Update</button>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</body>
</html>