<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View a Carrier</title>
    <!-- <link rel="stylesheet" href="{{url_for('static', filename='css/styles.css')}}"> For Flask Use when set up. -->
    <link rel="stylesheet" href="../static/css/style.css"> <!--For HTML setup without flask use-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
</head>
<body>
    <div class="banner">
        <h1 class="banner_title">All Flight listings</h1>
        <div class="navButons">
            <a href="/flights">All Flights</a>
            <a href="/carriers">All Carriers</a>
            <a href="/">Logout</a>
        </div>
    </div>
    <div class="bg_image image1">
        <div class="carrier_content">
            <!-- <h1> About Carrier #{{ one_carrier.id }}: {{ one_carrier.name }}</h1> -->
            <h1>{{ one_carrier.name }} </h1>
            <p class ="target_info"><span>Headquarters city:</span> {{ one_carrier.hq_city }} </p>
            <p class ="target_info"><span>Year founded:</span> {{ one_carrier.year_founded }} </p>
        </div>
        <div class="sub_content">
            <h2>Flights:</h2>
            <ul class="target_info">
                {% if one_carrier.flights| length > 0 %}
                    {% for flight in one_carrier.flights %}
                        <li id="flight_under_carrier"> Flight {{ flight.number }} from <span>{{ flight.starting_city }}</span>  to <span>{{ flight.ending_city }}</span></li>
                    {% endfor %}
                {% else %}
                <li> No flights for this carrier</li>
                {% endif %}
            </ul>
        </div>
    </div>
</body>
</html>