* {
    margin: 0px;
    padding: 0px;
}

body {
    height: 100vh; /*To ensure the background body fills the whole page.*/
}

.bg_image {
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    background-position:bottom;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}

.image1 {
    background-image: url("../images/pexels-eberhard-grossgasteiger-1367179.jpg");
}

.container {
    margin: 0px auto;
    width: 1000px;
}

.content {
    width: inherit;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 200px auto;
}

.registration_col {
    /* background-color: aqua; */
    padding: 20px;
}

.login_col {
    /* background-color: aquamarine; */
    padding: 20px;
}

.form_box {
    background-color: white;
    margin: 20px auto;
    padding: 20px;
    width: 300px;
    border: 2px solid black;
    border-radius: 10px;
}

legend {
    padding: 5px;
    font-size: 20pt;
    border-radius: 10px;
}

.legend_bg{
    background-color: white;
}

.entries {
    display: flex;
    flex-direction: column;
}

.row {
    padding: 10px;
    margin: auto;
    width: 300px;
}

.row > label {
    display: block;
}

.form_button {
    display: flex;
    justify-content: center;
    align-items: center;
}

#login_button, #register_button, #add_button{
    background-color: aliceblue;
    color: black;
    padding: 5px 15px;
    margin-top: 20px;;
}

.banner {
    background-color: aliceblue;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

.navButtons {
    display: flex;
}

.banner a, .target_actions a {
    color: black;
    background-color: whitesmoke;
    text-align: center;
    margin: 0px 5px; 
    padding: 10px 15px;
    text-decoration: none;
    font-size: 17px;
}

.banner a:hover, .target_actions a:hover {
    background-color: black;
    color: whitesmoke;
}

.target_actions {
    display: flex;
}

.display {
    padding: 20px;
}

.flight_content {
    text-align: center;
    width: 650px;
    margin: 300px auto;
    padding: 20px;
    border-radius: 20px;
    background: rgba(204, 204, 204, 0.7);
}

.carrier_content {
    text-align: center;
    width: 700px;
    margin: 300px auto;
    padding: 20px;
    border-radius: 20px;
    background: rgba(204, 204, 204, 0.7);
}

.target_info {
    font-weight: bold;
    font-size: 20pt;
}